---
layout: default
---

<div class="page-content">
  <h1>
    {{ page.title }}
  </h1>

  <span class="post-date">
    {{ site.data.settings.post_date_prefix }}
    {% assign d = page.date | date: "%-d"  %}
    {{ page.date | date: "%B" }}
    {% case d %}
      {% when '1' or '21' or '31' %}{{ d }}st
      {% when '2' or '22' %}{{ d }}nd
      {% when '3' or '23' %}{{ d }}rd
      {% else %}{{ d }}th{% endcase %},
    {{ page.date | date: "%Y" }}
    by
    {% if page.author %}
      {{ page.author }}
    {% else %}
      {{ site.author }}
    {% endif %}
    {% if site.data.settings.leancloud.enable %}
    &nbsp;View
    <b class="pv"></b>
    {% endif %}
  </span>

  {% if page.image %}
    <div class="featured-image">
      <img src="{{ site.github.url }}/gallery/{{page.date | date:"%Y/%m/%d/" }}{{page.date | date:"%Y%m%d-" }}{{ page.image }}">
    </div>
  {% endif %}

  <article>
    {{ content }}
  </article>

  <div class="post-share">
    <div class="post-date">{{ site.data.settings.sharing_button_prompt }}</div>
    <div class="sharing-icons">
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.github.url }}{{ page.url }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.github.url }}{{ page.url }}&amp;title={{ page.title }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    	<a href="https://service.weibo.com/share/share.php?url={{ site.github.url }}{{ page.url }}&amp;title={{ page.title }}" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a>
    </div>
  </div>

  {% if site.data.settings.disqus.comments %}
    {% include disqus.html %}
  {% endif %}

</div>
{% if site.data.settings.leancloud.enable %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdn1.lncld.net/static/js/av-core-mini-0.6.1.js"type="text/javascript" charset="utf-8"></script>
<script language="JavaScript">
	//class from cloud
	var Page = AV.Object.extend("page_count");
	AV.initialize("{{site.data.settings.leancloud.app_id}}", "{{site.data.settings.leancloud.app_key}}");
	var query = new AV.Query('page_count');
	query.equalTo('url', '{{ site.github.url }}{{ page.url }}');
	query.find().then(function (results){
		if(results.length==0){
			//first view
			var oldPage=new Page();
			oldPage.set('title','{{ page.title }}');
			oldPage.set('url','{{ site.github.url }}{{ page.url }}');
			oldPage.set('count',1);
			// Set ACL 
      var acl = new AV.ACL();
      acl.setPublicReadAccess(true);
      acl.setPublicWriteAccess(true);
      oldPage.setACL(acl);
			oldPage.save(null,
				{success:function(newPage){
				$('.pv').text(newPage.get('count'));
				}})
		}else if(results.length==1){
			var oldPage=results[0];
			oldPage.set('title','{{ page.title }}');
			oldPage.increment("count");
			//atomicity
			oldPage.fetchWhenSave(true);
			oldPage.save(null,
				{success:function(newPage){
				$('.pv').text(newPage.get('count'));
				}})
		}
	},function (error) {
		console.log(error);
	})
</script>
{% endif %}